extends layout

block content
  .columns.pt-5
    h1.text-center 404!

  .columns
    .one-half.centered.text-center
      p Oh no... Looks like you're heading the wrong way.
      p
      | Head on back to 
      a(href='/') our homepage
      |  to shorten some URLs!
