doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //- meta(name='viewport', content='width=device-width,initial-scale=1')

    title jr. urls

    link(rel='stylesheet', href='//cdn.jsdelivr.net/primer/3.0.1/primer.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js')
  body
    .container
      block content
      
      p.text-center
        em
          a(href='https://github.com/malonehedges/jr') code
          |  by 
          a(href='https://malone.io') malone.io

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64272250-2', 'auto');
      ga('send', 'pageview');
